<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/peace-sans" rel="stylesheet" />
    <link rel="stylesheet" href="styles/main.css" />
    <script
      src="https://kit.fontawesome.com/176c4ea3a9.js"
      crossorigin="anonymous"
    ></script>
    <title>Quiz Whiz: Trivia Game</title>
  </head>
  <body>
    <% if(locals.code){ %>
    <div id="api-code" data-code="<%= code %>"></div>
    <% } %>
    <audio id="bg-audio" src="assets/lofi-05-bg.mp3" loop="loop"></audio>
    <div class="bg-container vh-100">
      <div class="position-relative">
        <div class="container">
          <div class="d-flex justify-content-end mt-3">
            <button
              id="volume-button"
              href="javascript:void(0);"
              onclick="toggleMute()"
            >
              <span
                class="volume-button-top d-flex align-items-center justify-content-center"
                ><i class="fa-solid fa-volume-high"></i
              ></span>
            </button>
          </div>
          <form action="/play" method="post" id="config">
            <div class="col-12">
              <h2 class="text-center">CATEGORY</h2>
            </div>
            <div
              class="col-12 d-flex flex-wrap align-content-center justify-content-center"
              id="category"
            >
              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option0"
                checked
                value=""
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option0"
                ><i class="fa-solid fa-question fa-2x"></i> Random</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option1"
                value="9"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option1"
                ><i class="fa-solid fa-brain fa-2x"></i> General
                Knowledge</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option2"
                value="10"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option2"
                ><i class="fa-solid fa-book fa-2x"></i> Books</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option3"
                value="11"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option3"
                ><i class="fa-solid fa-film fa-2x"></i> Films</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option4"
                value="12"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option4"
                ><i class="fa-solid fa-music fa-2x"></i> Music</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option5"
                value="13"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option5"
                ><i class="fa-solid fa-masks-theater fa-2x"></i> Musicals &
                Theatre</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option6"
                value="14"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option6"
                ><i class="fa-solid fa-tv fa-2x"></i> Television</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option7"
                value="15"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option7"
                ><i class="fa-solid fa-gamepad fa-2x"></i> Video Games</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option8"
                value="16"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option8"
                ><i class="fa-solid fa-dice fa-2x"></i> Board Games</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option9"
                value="17"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option9"
                ><i class="fa-solid fa-leaf fa-2x"></i> Science & Nature</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option10"
                value="18"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option10"
                ><i class="fa-solid fa-microchip fa-2x"></i> Computers</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option11"
                value="19"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option11"
                ><i class="fa-solid fa-calculator fa-2x"></i> Mathematics</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option12"
                value="20"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option12"
                ><i class="fa-solid fa-building-columns fa-2x"></i>
                Mythology</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option13"
                value="21"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option13"
                ><i class="fa-solid fa-football fa-2x"></i> Sports</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option14"
                value="22"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option14"
                ><i class="fa-solid fa-earth-asia fa-2x"></i> Geography</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option15"
                value="23"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option15"
                ><i class="fa-solid fa-monument fa-2x"></i> History</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option16"
                value="24"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option16"
                ><i class="fa-solid fa-scale-unbalanced fa-2x"></i>
                Politics</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option17"
                value="25"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option17"
                ><i class="fa-solid fa-palette fa-2x"></i> Art</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option18"
                value="26"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option18"
                ><i class="fa-solid fa-champagne-glasses fa-2x"></i>
                Celebrities</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option19"
                value="27"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option19"
                ><i class="fa-solid fa-hippo fa-2x"></i> Animals</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option20"
                value="28"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option20"
                ><i class="fa-solid fa-car-side fa-2x"></i> Vehicles</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option21"
                value="29"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option21"
                ><i class="fa-solid fa-comment-dots fa-2x"></i> Comics</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option22"
                value="30"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option22"
                ><i class="fa-solid fa-mobile-retro fa-2x"></i> Gadgets</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option23"
                value="31"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option23"
                ><i class="fa-solid fa-dragon fa-2x"></i> Anime</label
              >

              <input
                type="radio"
                class="btn-check"
                name="category"
                id="option24"
                value="32"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex flex-column justify-content-between align-items-center p-4"
                for="option24"
                ><i class="fa-solid fa-hat-wizard fa-2x"></i> Cartoons</label
              >
            </div>
            <div class="col-12 mt-4">
              <h2 class="text-center">DIFFICULTY</h2>
            </div>
            <div
              id="difficulty"
              class="col-12 d-flex flex-wrap justify-content-center align-items-center"
            >
              <input
                type="radio"
                class="btn-check"
                checked
                name="difficulty"
                id="random"
                value=""
                autocomplete="off"
              />
              <label
                class="btn btn-primary d-flex align-items-center justify-content-center m-2 p-2"
                for="random"
                >Random</label
              >

              <input
                type="radio"
                class="btn-check"
                name="difficulty"
                id="easy"
                value="easy"
                autocomplete="off"
              />
              <label
                class="btn btn-primary d-flex align-items-center justify-content-center m-2 p-2"
                for="easy"
                >Easy</label
              >

              <input
                type="radio"
                class="btn-check"
                name="difficulty"
                id="medium"
                value="medium"
                autocomplete="off"
              />
              <label
                class="btn btn-primary d-flex align-items-center justify-content-center m-2 p-2"
                for="medium"
                >Medium</label
              >

              <input
                type="radio"
                class="btn-check"
                name="difficulty"
                id="hard"
                value="hard"
                autocomplete="off"
              />
              <label
                class="btn btn-primary d-flex justify-content-center align-items-center m-2 p-2"
                for="hard"
                >Hard</label
              >
            </div>
            <div class="d-flex justify-content-center mt-4">
              <button id="start-button" form="config" type="submit">
                <span class="button-top">START</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="no-results-modal"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content position-relative">
          <div class="modal-body">
            <h2>Oops...</h2>
            <p>
              Sorry we don't have enough questions. Try picking another
              difficulty option.
            </p>
          </div>

          <button
            type="button"
            class="btn btn-primary position-absolute bottom-0 end-0 m-4"
            data-bs-dismiss="modal"
          >
            Okay
          </button>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="rate-limit-modal"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content position-relative">
          <div class="modal-body">
            <h2>Oops...</h2>
            <p>Too many requests. Please try again after 5 seconds.</p>
          </div>

          <button
            type="button"
            class="btn btn-primary position-absolute bottom-0 end-0 m-4"
            data-bs-dismiss="modal"
          >
            Okay
          </button>
        </div>
      </div>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.10/ejs.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#bg-audio").get(0).play();

      const apiCode = $("#api-code").data("code");
      console.log(apiCode);

      if (apiCode === 1) {
        $("#no-results-modal").modal("show");
      }

      if (apiCode === 5) {
        $("#rate-limit-modal").modal("show");
      }

      $(".volume-button-top > i")
        .closest("#volume-button")
        .on("click", () => {
          $(".volume-button-top > i").toggleClass("fa-volume-xmark");
        });

      $("#category .btn, #difficulty .btn").on("mouseenter", () => {
        playSound("arcade-game-jump-coin.wav");
      });

      $("#start-button").on("mouseenter", () => {
        playSound("quick-lock-sound.wav");
      });

      $("#start-button, #volume-button").on("click", () => {
        playSound("switch-tap.wav");
      });
    });

    function playSound(name) {
      var audio = new Audio("assets/" + name);
      audio.volume = 0.5;
      audio.play();
    }

    function toggleMute() {
      var audio = document.getElementById("bg-audio");
      audio.muted = !audio.muted;
    }
  </script>
</html>
