.bg-container {
  width: 100%;
  height: 100%;
  background: #ffb200;
  position: relative;
  overflow: hidden;
}

.bg-container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;

  background: radial-gradient(circle, #277bc0 10%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ffb200 20%);
  background-size: 30px 30px; /* Adjust the size of the pattern */
  animation: moveBackground 8s linear infinite; /* Adjust the animation duration and timing function */
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20%, 20%);
  }
}

* {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1,
h2 {
  font-size: 2em;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  paint-order: stroke fill;
  color: #fff4cf;
}

#menu h1 {
  font-size: 8em;
  -webkit-text-stroke: 35px #277bc0;
}

#config h2 {
  -webkit-text-stroke: 10px #277bc0;
}

#start-button {
  font-size: 1.5em;
}

#category .btn {
  text-shadow: 1px 1px 4px rgba(93, 88, 75, 1);
  color: #fff4cf;
  min-width: 100px;
  height: 100px;
  border: none;
  line-height: 90%;
}

#category .btn-check:checked + .btn {
  background-color: #277bc0;
}

.btn-check:checked + .btn {
  background-color: #277bc0;
}

#difficulty label {
  background-color: #fff4cf;
  color: #277bc0;
  border: 2px solid #277bc0;
  font-size: 1.2em;
  font-weight: 700;
  width: 250px;
  height: 50px;
  line-height: 90%;
}

#difficulty .btn-check:checked + .btn {
  background-color: #277bc0;
  color: #fff4cf;
  border: 2px solid #277bc0;
}

#difficulty .btn-check:active + .btn {
  background-color: #1d5d91;
  color: #fff4cf;
}

#difficulty .btn:hover,
#category .btn:hover {
  transform: translateY(-0.11em);
  transition: transform 0.1s ease;
}
#menu button,
#start-button,
#volume-button,
#result-menu button,
.choices {
  --button_radius: 0.75em;
  --button_color: #fff4cf;
  --button_outline_color: #277bc0;
  padding: 0;
  font-size: 2em;
  font-weight: 700;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

#volume-button {
  font-size: 1.2em;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.choices {
  --button_radius: 0.8em;
  --button-height: 100px;
}

.button-top,
.choices-button-top,
.volume-button-top {
  display: block;
  box-sizing: border-box;
  border: 4px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  font-weight: 600;
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.volume-button-top {
  width: 45px;
  height: 45px;
  border: 2px solid var(--button_outline_color);
  border-radius: 50%;
  padding: 0;
}

.choices-button-top {
  height: var(--button-height);
  font-weight: 600;
  padding: 0;
}

button:hover .button-top,
.choices:hover .choices-button-top,
#volume-button:hover .volume-button-top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button-top,
.choices:active .choices-button-top,
#volume-button:active .volume-button-top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

#question h2 {
  background-color: #fff4cf;
  color: #277bc0;
  border: 15px solid #fff0bc;
  height: 300px;
  border-radius: 0.75em;
  font-size: 2.6em;
}

.circle {
  height: 80px;
  width: 80px;
  margin-left: 0.1em;
  border-radius: 0.3em;
  font-size: 2em;
  color: #fff4cf;
}

.yellow {
  background-color: #ffde59;
}

.green {
  background-color: #7ed957;
}

.purple {
  background-color: #8c52ff;
}

.orange {
  background-color: #ff914d;
}

.letters {
  font-weight: 700;
  padding-bottom: 0.1em;
}

.answer {
  font-weight: 600;
  padding: 0 0.2em;
}

#question-number {
  color: #fff4cf;
  font-size: 30px;
  font-weight: 600;
  -webkit-text-stroke: 8px #277bc0;
  paint-order: stroke fill;
  height: 20px;
}

#category-picked {
  font-size: 1.1em;
  font-weight: 700;
  color: #fff4cf;
  text-shadow: 1px 1px 4px rgba(93, 88, 75, 1);
}

.correct-button-top {
  background: #00bf63;
  border-color: #00773d;
  color: #fff4cf;
}

.correct-button {
  background: #00773d;
}

.wrong-button-top {
  background: #ff5757;
  border-color: #a93737;
  color: #fff4cf;
}

.wrong-button {
  background: #a93737;
}

.result-message {
  font-size: 2.4em;
  -webkit-text-stroke: 10px #277bc0;
  margin-bottom: 50px;
}

.result-score-container {
  font-weight: 700;
  color: #fff4cf;
  text-shadow: 1px 1px 4px rgba(93, 88, 75, 1);
}

.result-score-container p:first-child {
  font-size: 2em;
}

.result-score {
  font-size: 8em;
  line-height: 50%;
  margin-bottom: 100px;
}

.modal-header {
  border-bottom: none;
}

.modal-content {
  background-color: #fff4cf;
  border-radius: 1.2em;
  border: 4px solid #277bc0;
}

.modal-content h2 {
  color: #277bc0;
  font-size: 3em;
}
.modal-content .btn {
  background-color: #277bc0;
  color: #fff4cf;
}

.modal-content .btn:active {
  background-color: #1d5d91;
  color: #fff4cf;
}

.modal-content p {
  color: #277bc0;
}

.modal-body {
  height: 250px;
  padding: 2.5em 2em;
}

.footer-container {
  background-color: #277bc0;
  height: 30px;
  margin-top: 3.8em;
}

.footer-content {
  color: #fff4cf;
}
